# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rcheck
..Rcheck

/doc/
# ?
/Meta/

# OSX
.DS_Store



# render
/.quarto/
**/*.quarto_ipynb

# pkgdown
docs/*
inst/*
!inst/_pkgdown.yml
vignettes/*.html
build-site.sh
